body.light {
    background-color: #f3f3f3;
    color: #2a2a2a;
}

body.dark {
    background-color: #100f0f;
    color: #ebe2e2;
}

.app {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    overflow-y: hidden;
}

.app button {
    background-color: rgb(143, 18, 216);
    border: none;

    &:hover {
        background: #e0aaff;
        color: #fff;
    }

    &:focus,
    &:active {
        background-color: #ad26fb;
        transform: scale(0.95);
    }
}