// movieCards.scss
.movie-card {
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.movie-card-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}