.movie-card {
    width: 15rem;
    height: 100%;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.movie-card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.movie-card-title {
    font-size: 0.9rem;
}

.movie-card-text {
    font-size: 0.6rem;
}

.movie-card-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}