// movieCards.scss
.movie-card {
    width: 15rem; // Fast bredd
    height: 100%; // Höjd anpassas efter innehållet
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.movie-card-img {
    width: 100%;
    height: 20rem; // Fast höjd för bilder
    object-fit: cover; // Se till att bilderna fyller ut utrymmet korrekt
}

.movie-card-title {
    font-size: 0.9rem; // Justera textstorlek för titeln
}

.movie-card-text {
    font-size: 0.6rem; // Justera textstorlek för release date
}

.movie-card-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}