.navbar-wrapper {
    width: 100%;
    position: relative;
    z-index: 100;
}

.navbar-custom {
    width: 100%;
    background: linear-gradient(135deg, #591891, #b274e6); // Default gradient for light mode
    padding: 10px 0;

    .navbar-brand,
    .nav-link,
    .navbar-toggler {
        color: #ffffff; //Texten i navbaren
    }

    .navbar-brand:hover,
    .nav-link:hover,
    .navbar-toggler:hover {
        color: #ffffff; //Färg när man hovrar över text i navbar
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }

    .dropdown-menu {
        background: #ffffffff;
    }

    .dropdown-item {
        color: #000000;
    }

    #navbarScrollingDropdownGenres {
        color: #000000;
    }

    .genres {
        color: #000000;
    }

    .dropdown-item:hover {
        background: #e0aaff;
    }

    .form-control {
        border-radius: 20px;
        padding: 0.375rem 1.5rem;
    }

    .btn-outline-success {
        border-color: #d0bfff;
        color: #d0bfff;
        border-radius: 20px;
        padding: 0.375rem 1.5rem;
        transition: all 0.3s ease;

        &:hover {
            background: #d0bfff;
            color: white;
        }
    }
}

.theme {
    display: inline-block;
    background-color: #b274e6;
    margin-right: 1rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    border: #591891;
    cursor: pointer;

    &:hover {
        background: #e0aaff;
        color: #fff;
    }
}